{% extends 'base.html' %}
{% block content %}
<h1>Borrowed Books</h1>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Author</th>
            <th>Borrower</th>
            <th>Borrow Date</th>
            <th>Borrower Phone Number</th>
            <th>Borrow Address</th>
        </tr>
    </thead>
    <tbody>
        {% for book in borrowed_books %}
        <tr>
            <td>{{ book[0] }}</td>
            <td>{{ book[1] }}</td>
            <td>{{ book[2] }}</td>
            <td>{{ book[3] }}</td>
            <td>{{ book[4] }}</td>
            <td>{{ book[5] }}</td>
            <td>{{ book[6] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
