{% extends 'base.html' %} {% block content %}
<h1 class="books_history">Return a Book</h1>
<form method="post" action="{{ url_for('return_book') }}" class="add_book_form">
  <div class="add_book_form_div">
    <div class="add_book add_book_col_1">
      <label for="book_id" class="add_book_title">Book</label>
      <select id="book_id" name="book_id" class="add_book_input">
        {% for book in borrowed_books %}
        <option value="{{ book[0] }}">
          {{ book[1] }} by {{ book[2] }} borrowed by {{ book[3] }} on {{ book[4]
          }}
        </option>
        {% endfor %}
      </select>
    </div>
  </div>
  <button type="submit">Return Book</button>
</form>
{% endblock %}
